<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ava.zack.wechathoptrainer">

    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.ava.zack.intent.action.KNOCK_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
